body{
font-family:Arial;
text-align:center;
background:#f4f4f4;
}

#map{
height:500px;
}

button{
padding:12px 20px;
margin:10px;
background:#2e7d32;
color:white;
border:none;
border-radius:6px;
}

.menu{
margin-top:40px;
}
